@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    font-family: 'Orbitron', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.header-title {
    text-align: center;
}

.card-img-top {
    height: 400px;
}

.card {
    margin: 20% auto;
    width: 70%;
}

.card-title {
    margin-bottom: 4%;
}

.util-space {
    height: 5rem;
}

.navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.navbar ul {
    margin-left: 5%;
}

.carousel {
    margin-bottom: 2%;
}

.carousel-item {
    height: 450px;
}

.navbar-brand {
    letter-spacing: 3ch;
    margin-left: 2%;
}

.nav-link {
    letter-spacing: 1ch;
    width: 100%;
}

.topics h3 {
    border-left: 6px solid red;
}
.topics p {
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    margin-bottom: 10%;
    line-height: 3rem;
}

hr {
    height: 12px;
	border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-bottom: 10%;
}

.card-text {
    font-family: 'Roboto Mono', monospace;
}

.welcome {
    text-align: center;
    letter-spacing: 10px;
}

.footer-title {
    text-align: center;
}